.navStyling{
    display: flex;
    flex-direction: row;
    // test på mellemrum
    justify-content: space-between;
    gap: 4px;
    background-color: #201e1e;

    img{
        width: 3rem;
        height: 3rem;
    }
    
    div {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: center;
       
    }

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

nav a.active {
  color: tomato;
  border-bottom: 2px solid tomato;
} }